<!DOCTYPE html>
<html lang="id">
<head>
	<title>Chapter <%- chapterNumber %>. <%- title %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- MATHJAX -->
	<script src="/js/mathjax-options.js"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/css/material.css">
	<style>
		:root {
			--chapter-number: "<%- chapterNumber %>";
			--chapter: "Chapter <%- chapterNumber %>";
			--title: "<%- title %>";
		}
	</style>
</head>
<body>
	<header>
		<p id="chapter">Chapter <%= chapterNumber %></p>
		<p id="title"><%= title %></p>
	</header>

	<%- content %>
</body>
</html>